assignment1/dataset/cifar-10
assignment1/models
assignment1/results
assignment1/lib
assignment2/dataset/
assignment2/*.jar
assignment2/*.tet
assignment2/*.pdf
assignment2/dataset
*/__pycache__
__pycache__
instruction/